# Rob sandbox

## Imports

#### Standard library imports

#### Third party imports

In [2]:
import pandas as pd
pd.set_option('display.max_columns', 500)

#### Local application imports

---

## Data

In [5]:
df = pd.read_csv("Food_Inspections.csv")

---

## Exploring data

In [6]:
df

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
0,2453552,CLAMP DOWN BURGERS,NaN,2749943.0,NaN,Risk 2 (Medium),1742 W DIVISION ST,CHICAGO,IL,60622.0,10/20/2020,License,No Entry,NaN,41.903387,-87.671740,"(-87.67174026586648, 41.903386755553484)"
1,2386633,JIN JU,JIN JU,27137.0,Restaurant,Risk 1 (High),5203 N CLARK ST,CHICAGO,IL,60640.0,08/28/2020,Canvass,No Entry,NaN,41.976301,-87.668276,"(-87.66827593789948, 41.97630115368914)"
2,2386595,LA BIZNAGA #2,LA BIZNAGA #2,2708992.0,NaN,Risk 1 (High),2949 W BELMONT AVE,CHICAGO,IL,60618.0,08/27/2020,Complaint,No Entry,NaN,41.939256,-87.702270,"(-87.70226967930802, 41.939255926667535)"
3,2386464,Uni Sushi Bristo,Uni Sushi Bistro,2262637.0,Restaurant,Risk 1 (High),1752 W NORTH AVE,CHICAGO,IL,60622.0,08/25/2020,Complaint,No Entry,NaN,41.910676,-87.672205,"(-87.67220465807979, 41.91067561170382)"
4,2386398,KIKI'S BISTRO,KIKI'S BISTRO,22899.0,Restaurant,Risk 1 (High),900 N FRANKLIN ST,CHICAGO,IL,60610.0,08/24/2020,Canvass,No Entry,NaN,41.898998,-87.635921,"(-87.63592067312285, 41.89899799424835)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215062,229233,"ZULLO'S MARKETS, LLC",ZULLO'S MARKET,2016915.0,Restaurant,Risk 2 (Medium),131 N Clinton ST,CHICAGO,IL,60661.0,02/18/2010,License,Fail,NaN,41.884188,-87.641120,"(-87.64111966683218, 41.884187507127805)"
215063,68205,LA FONDA CHIQUITA TLC,LA FONDA CHIQUITA,2017215.0,Restaurant,Risk 1 (High),5940 W DIVERSEY AVE,CHICAGO,IL,60639.0,02/09/2010,License,Fail,12. HAND WASHING FACILITIES: WITH SOAP AND SAN...,41.931260,-87.775203,"(-87.77520287598688, 41.93125971874477)"
215064,88234,KABAB CUISINE 2,KABAB CUISINE 2,2014076.0,Restaurant,Risk 1 (High),6320 N LINCOLN AVE,CHICAGO,IL,60659.0,02/01/2010,License Re-Inspection,Pass,NaN,41.996139,-87.716968,"(-87.71696834498202, 41.996139331170895)"
215065,74311,MARGARITA DISTRIBUTORS,NaN,2017298.0,Wholesale,Risk 3 (Low),2332 S BLUE ISLAND AVE BLDG,CHICAGO,IL,60608.0,02/19/2010,License Re-Inspection,Pass,NaN,41.849940,-87.672421,"(-87.67242100722251, 41.84994008002549)"
215066,67838,OUR LADY OF LOURDES,OUR LADY OF LOURDES,42577.0,Daycare (Under 2 Years),Risk 1 (High),1449 S KEELER AVE,CHICAGO,IL,60623.0,01/12/2010,Canvass,Fail,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,41.861003,-87.729762,"(-87.72976247742804, 41.861003270876026)"

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215067 entries, 0 to 215066
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Inspection ID    215067 non-null  int64
 1   DBA Name         215067 non-null  object
 2   AKA Name         212581 non-null  object
 3   License #        215050 non-null  float64
 4   Facility Type    210178 non-null  object
 5   Risk             214998 non-null  object
 6   Address          215067 non-null  object
 7   City             214909 non-null  object
 8   State            215017 non-null  object
 9   Zip              215015 non-null  float64
 10  Inspection Date  215067 non-null  object
 11  Inspection Type  215066 non-null  object
 12  Results          215067 non-null  object
 13  Violations       157643 non-null  object
 14  Latitude         214357 non-null  float64
 15  Longitude        214357 non-null  float64
 16  Location         214357 non-null  object
dtypes: float64(4), int64(1), object(12)
memory usage: 27.9+ MB

In [12]:
len(list(df["Facility Type"].unique()))

501

---
---